
{% extends "layout/base.html" %}

{% block content %}

<div class="profile-page">

    <!-- PROFILE HEADER -->

    <div class="profile-header">

        <!-- <img
            src="
            {% if user.profile_image %}
                {{ user.profile_image }}
            {% else %}
                https://cdn-icons-png.flaticon.com/512/3135/3135715.png
            {% endif %}
            "
            class="profile-avatar"
        > -->
        <img
                id="preview"
                src="{{ user.profile_image or 'https://cdn-icons-png.flaticon.com/512/3135/3135715.png' }}"
                class="profile-avatar"
            >

        <div>

            <h1>
                {{ user.username or 'User' }}
            </h1>

            <p>
                {{ user.bio or 'No bio available.' }}
            </p>

        </div>

        <div class="completion-card">

            <div class="completion-header">
                <h3>Profile Completion</h3>
                <span>{{ completion_percentage }}%</span>
            </div>

            <div class="progress-bar">

                <div
                    class="progress-fill"
                    style="width: {{ completion_percentage }}%;"
                ></div>

            </div>

        </div>

    </div>

    <!-- PROFILE FORM -->

    <form
        method="POST"
        enctype="multipart/form-data"
        class="profile-form"
    >

        <!-- BASIC INFO -->

        <div class="profile-card-section">

            <h2>
                Basic Information 👤
            </h2>
            <label>Profile Picture</label>

            <input
                type="file"
                name="profile_image"
                accept="image/*"
            >
            <label>
                Username
            </label>
            <input
                type="text"
                name="username"
                placeholder="Username"
                value="{{ user.username or '' }}"
                required
            >
            <label>
                Bio
            </label>    
            <textarea
                name="bio"
                placeholder="Write your bio..."
            >{{ user.bio or '' }}</textarea>
            <label>
                Email
            </label>
            <input
                type="email"
                name="email"
                placeholder="Email"
                value="{{ user.email }}"
            >
            <!-- <label>
                Profile Image URL
            </label>
            <input
                type="text"
                name="profile_image"
                placeholder="Profile Image URL"
                value="{{ user.profile_image or ''  }}" 
            > -->

        </div>

        <!-- ACADEMIC -->

        <div class="profile-card-section">

            <h2>
                Academic Details 🎓
            </h2>

            <label>
                College Name
            </label>
            <input
                type="text"
                name="college"
                placeholder="Enter your college"
                value="{{ user.college or '' }}"
            >
            <label>
                Branch
            </label>
            <input
                type="text"
                name="branch"
                placeholder="Branch"
                value="{{ user.branch or '' }}"
            >

            <label>
                year of study
            </label>
            <input
                type="text"
                name="year"
                placeholder="Year"
                value="{{ user.year or '' }}"
            >

        </div>

        <!-- PROFESSIONAL LINKS -->

        <div class="profile-card-section">

            <h2>
                Professional Links 💼
            </h2>
            <label>
                GitHub
            </label>
            <input
                type="text"
                name="github"
                placeholder="GitHub URL"
                value="{{ user.github or '' }}"
            >
            <label>
                LinkedIn
            </label>
            <input
                type="text"
                name="linkedin"
                placeholder="LinkedIn URL"
                value="{{ user.linkedin or '' }}"
            >
            <label>
                LeetCode
            </label>
            <input
                type="text"
                name="leetcode"
                placeholder="LeetCode URL"
                value="{{ user.leetcode or '' }}"
            >

        </div>

        <button
            type="submit"
            class="save-btn"
        >
            Save Profile
        </button>

    </form>

</div>

<script>

const input =
document.querySelector(
'input[name="profile_image"]'
);

const preview =
document.getElementById(
'preview'
);

input.addEventListener(
'change',
function(){

    const file =
    this.files[0];

    if(file){

        preview.src =
        URL.createObjectURL(
            file
        );

    }

}
);

</script>

{% endblock %}

